.services-slider__container {
  min-width: 1200px;
  overflow: hidden;
}

.services-slider {
  display: flex;
  transition: 0.2s;
}

.services-slide {
  padding: 0;
  margin: 0 auto;
}

.services__arrow--right {
  margin-left: 30px;
}

.services__arrow--left,
.services__arrow--right {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
/* 
@media (min-width: 768px) {
  .services-slider__container {
    max-width: 90%;
    overflow: hidden;
  }

  .services-slider {
    width: 100%;
  }

  .services-slide {
    width: 380px;
  }
} */
